@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap");
/* TailwindConfig */
@tailwind base;
@tailwind components;
@tailwind utilities;




@layer components {
    .card {
      background-color: theme('colors.white');
      border-radius: theme('borderRadius.lg');
      padding: theme('spacing.6');
      box-shadow: theme('boxShadow.xl');
    }
  }


body {
  background: #121212;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #ffffff;
}
